<!DOCTYPE html>
<html lang="en">

<head>
  <title>Data Notary</title>
  <link rel="shortcut icon" type="image/png" href="static/images/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie-edge" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.ethers.io/scripts/ethers-v4.min.js" charset="utf-8" type="text/javascript"></script>
  <script src="/static/js/web3.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/loading.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/loading-btn.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/cards.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/component.css" />
</head>

<body>
  <div class="container" id="container">
    <nav class="navbar">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
          <a href="#">Data Notary</a>
        </li>
        <li role="presentation"><a href="ipfs.html">IPFS</a></li>
        <li role="presentation">
          <a href="marketplace.html">Marketplace</a>
        </li>
        <li role="presentation"><a href="profile.html">Profile</a></li>
      </ul>
    </nav>
    <hr />
    <div class="col-sm-5">
      <h3>Notarization Service</h3>
      <hr />

      <div>
        <form id="userForm" enctype="multipart/form-data">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Enter file's title" maxlength="32" required />
            <label for="description">Description:</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Enter file's description" maxlength="128" required />
          </div>
          <div class="form-group">
            <label for="file">File <font size="2">(size limit 16MB)</font>:
            </label>
            <input type="file" name="file" id="file" onchange="showFileName()" required />
            <label for="file" class="btn-1">Upload</label>
            <div id="file-upload-filename"></div>
            <div>
            <label class="radio-inline">
     <input type="radio" name="optradio" value="Document" checked>Document
   </label>
   <label class="radio-inline">
     <input type="radio" name="optradio" value="Image">Image
   </label>
   <label class="radio-inline">
     <input type="radio" name="optradio" value="Video">Video
   </label>
   <label class="radio-inline">
     <input type="radio" name="optradio" value="Other">Other
   </label></div>
          </div>
          <div class="form-group">
            <label for="weiValue">Enter Price of Copyrights in Wei:</label>
            <input type="number" name="weiValue" class="form-control" id="weiValue" min="0" value="0" oninput="weiEther()" required />
            <details>
              <summary id="weiSummary">Price: 0 (Notary Mode Only)</summary>
              <p id="weiDescription">
                The file is not going to be in Marketplace
              </p>
              <p>Max Price: (2^256 -1) Wei</p>
            </details>
          </div>

          <button type="submit" id="insertLoading" class="btn btn-default ld-ext-right">
            Insert Data in our Blockchain Service
            <div class="ld ld-ring ld-spin"></div>
          </button>
        </form>
      </div>
      <div id="postResultDiv"></div>
    </div>

    <div class="col-sm-2"></div>

    <div class="col-sm-5">
      <h3>Check Data Integrity from file</h3>
      <hr />
      <div>
        <form id="verifyForm">
          <div class="form-group">
            <label for="uploadTestFile">File:</label>
            <input type="file" id="uploadTestFile"   required />
            <label for="uploadTestFile" class="btn-1">Upload</label>
          </div>
          <div class="form-group">
            <label for="verifyForm_address">Enter Owner Address:</label>
            <input type="text" class="form-control" id="verifyForm_address" placeholder="Hex representation" required />
          </div>
          <button type="submit" class="btn btn-default">
            Verify
          </button>
          <div id="getVerifyDiv">
            <ul class="list-group"></ul>
          </div>
        </form>
      </div>
      <div>
          <hr />
        <h3>Check Data Integrity from Hash</h3>
        <hr />
        <form id="verifyHash">
          <div class="form-group">
            <label for="verifyFromHashId">Enter File's Hash:</label>
            <input type="text" class="form-control" id="verifyFromHashId" placeholder="Keccak-256 Hash" required />
          </div>
          <div class="form-group">
            <label for="verifyFromHashAddress">Enter Owner Address:</label>
            <input type="text" class="form-control" id="verifyFromHashAddress" placeholder="Hex representation" required />
          </div>
          <button type="submit" class="btn btn-default">Verify
          </button>
        </form>
        <div id="getVerifyHashDiv">
          <ul class="list-group"></ul>
        </div>
      </div>
      <div>
          <hr />
        <h3>Check Saved File Integrity from Hash</h3>
        <hr />
        <form id="verifyDbHash">
          <div class="form-group">
            <label for="verifyFromDBHashId">Enter File's Hash:</label>
            <input type="text" class="form-control" id="verifyFromDBHashId" placeholder="Keccak-256 Hash" required />
          </div>
          <div class="form-group">
            <label for="verifyFromDbHashAddress">Enter Original Owner Address:</label>
            <input type="text" class="form-control" id="verifyFromDbHashAddress" placeholder="Hex representation" required />
          </div>
          <button type="submit" class="btn btn-default">Verify
          </button>
        </form>
        <div id="getVerifyDbHashDiv">
          <ul class="list-group"></ul>
        </div>
      </div>
    </div>
  </div>

  <script>
    function weiEther() {
      var wei = $("#weiValue").val();

      if (wei == 0) {
        $("#weiSummary").html("Price: 0 (Notary Mode Only)");
        $("#weiDescription").html(
          "The file is not going to be in Marketplace"
        );
        return;
      } else if (wei < 1000000) {
        $("#weiSummary").html("Price: " + wei + " Wei");
      } else if (wei >= 1000000000000000000) {
        var ether = wei / 1000000000000000000;
        $("#weiSummary").html(
          "Price: " + Math.round(ether) + " Ether (approximately)"
        );
      } else if (wei >= 1000000000000000) {
        var pwei = wei / 1000000000000000;
        $("#weiSummary").html(
          "Price: " + Math.round(pwei) + " MilliEther (approximately)"
        );
      } else if (wei >= 1000000000000) {
        var pwei = wei / 1000000000000;
        $("#weiSummary").html(
          "Price: " + Math.round(pwei) + " MicroEther (approximately)"
        );
      } else if (wei >= 1000000000) {
        var gwei = wei / 1000000000;
        $("#weiSummary").html(
          "Price: " + Math.round(gwei) + " Gwei (approximately)"
        );
      }

      $("#weiDescription").html(
        "The file is going to be in Marketplace (Notary and Marketplace Mode)"
      );
    }
  </script>
</body>

</html>
