<!DOCTYPE html>
<html lang="en">

<head>
  <title>IPFS upload</title>
  <link rel="shortcut icon" type="image/png" href="static/images/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie-edge" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.ethers.io/scripts/ethers-v4.min.js"
        charset="utf-8"
        type="text/javascript">
</script>
  <script src="/static/js/web3.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/loading.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/cards.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/loading-btn.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/component.css" />
</head>

<body>
  <div class="container">
    <nav class="navbar">
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="index.html">Data Notary</a></li>
        <li role="presentation" class="active"><a href="#">IPFS</a></li>
        <li role="presentation"><a href="marketplace.html">Marketplace</a></li>
        <li role="presentation"><a href="profile.html">Profile</a></li>
      </ul>
    </nav>
    <hr />
    <div class="col-sm-5">
      <h3>Add a Public File in your existing Ethereum Submission</h3>
      <hr />
      <form id="IPFSform" enctype="multipart/form-data">
        <div class="form-group">
          <label>File <font size="2">(size limit 16MB)</font>:</label>
          <input type="file" name="file" id="file" onchange="showFileName()" required />
          <label for="file" class="btn-1">IPFS Upload</label>
          <div id="file-upload-filename"> </div>
        </div>
        <div class="form-group">
          <label for="id">Your Submission File Hash:</label>
          <input type="text" name="idOfIPFS" class="form-control" id="idOfIPFS" placeholder="Enter hex representation" min="0" required />
        </div>
        <button type="submit" id="insertIPFS" class="btn btn-default ld-ext-right">
          Insert in Ethereum <div class="ld ld-ring ld-spin"></div>
        </button>
      </form>
      <div id="resultIPFS"></div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-5">

      <div class="card card-default">
        <a href="https://ipfs.io/" class="card-link" target="_blank">
          <span class="card-img">
            <img src="/static/images/IPFS_logo.png" class="img-responsive">
          </span>
          <span class="card-body">
            <span class="h3 heading">IPFS</span>
            <p>Be part of Distributed Web. Start your own node. Click for details</p>
          </span>
        </a>
      </div>
      <div>
      <p> We have opened our IPFS Gateway!</p>
      <p>Reach your files on : http://miletus.dynu.net:8080/ipfs/ + Your IPFS address</p>
    </div>

    </div>
</body>

</html>
