<!DOCTYPE html>
<html lang="en">

<head>
  <title>Your Profile</title>
  <link rel="shortcut icon" type="image/png" href="static/images/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie-edge" />
  <meta charset="utf-8" />
  <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta HTTP-EQUIV="Expires" CONTENT="-1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.ethers.io/scripts/ethers-v4.min.js"
          charset="utf-8"
          type="text/javascript">
  </script>
  <script src="/static/js/profile.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/loading.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/loading-btn.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/cards.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/component.css" />
</head>

<body>
  <div class="container">
    <nav class="navbar">
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="index.html">Data Notary</a></li>
        <li role="presentation"><a href="ipfs.html">IPFS</a></li>
        <li role="presentation">
          <a href="marketplace.html">Marketplace</a>
        </li>
        <li role="presentation" class="active"><a href="#">Profile</a></li>
      </ul>
    </nav>
    <hr />
    <h3>Website Building Phase</h3>
    <hr />
    <div class="col-sm-6" id="BalanceContainer">
      List: Copyrights owner & Purchased
      <hr />
      <div id="showYourData"></div>
    </div>
    <div class="col-sm-6" id="PropertiesContainer">
      Download a Purchased Copyright File
      <hr />
      <form id="downloadForm" enctype="multipart/form-data" autocomplete="off">
        <div class="form-group">
          <label for="idOfFile">ID of your file: </label>
          <input type="number" class="form-control" name="downloadId" id="downloadId" placeholder="Enter file's ID" required />
        </div>
        <div class="form-group">
          <label for="digitalSignature">
            <font size="2">We DON'T save your Private Key<br />We only use it
              for calculating your Digital Signature and verify your
              Identity</font>
          </label>
          <input type="password" class="form-control" name="digitalSignature" id="digitalSignature" placeholder="Your Private Key" required />
        </div>
        <button type="submit" id="downloadButton" class="btn btn-default">
          Download
        </button>
      </form>
      <div id="linkResult"></div>

    </div>
  </div>
</body>

</html>
